In [1]:
import pandas as pd
import pymysql
import numpy as np

In [2]:
Final_df = pd.read_csv("df_buses_details.csv")
Final_df

,Route_name,Route_link,Bus_name,Bus_type,Start_time,End_time,Total_duration,price,Seats_Available,Ratings
0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:01,19:55,07h 54m,INR 627,9 Seats available,3.5
1,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,INR 729,6 Seats available,2.0
2,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,22:50,08h 35m,INR 627,30 Seats available,4.2
3,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,00:01,09h 01m,INR 620,21 Seats available,3.9
4,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,22:20,06h 55m,INR 729,9 Seats available,3.0
...,...,...,...,...,...,...,...,...,...,...
2682,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,Zingbus Plus,Bharat Benz A/C Semi Sleeper (2+2),20:30,23:45,03h 15m,INR 229,14 Seats available,NaN
2683,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,Laxmi holidays,Scania Multi-Axle AC Semi Sleeper (2+2),20:30,23:35,03h 05m,807,20 Seats available,NaN
2684,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,City Land Travels,Volvo A/C Semi Sleeper (2+2),22:00,00:50,02h 50m,765,24 Seats available,NaN
2685,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,Laxmi holidays,Scania Multi-Axle AC Semi Sleeper (2+2),20:30,23:00,02h 30m,807,20 Seats available,NaN
2686,Shimla to Chandigarh,https://www.redbus.in/bus-tickets/shimla-to-ch...,Ram Dalal Holidays,Mercedes Multi-Axle Semi Sleeper (2+2),21:00,09:15,12h 15m,750,30 Seats available,NaN

Data cleaning

In [3]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       2687 non-null   object
 1   Route_link       2687 non-null   object
 2   Bus_name         2687 non-null   object
 3   Bus_type         2687 non-null   object
 4   Start_time       2687 non-null   object
 5   End_time         2687 non-null   object
 6   Total_duration   2687 non-null   object
 7   price            2687 non-null   object
 8   Seats_Available  2687 non-null   object
 9   Ratings          2644 non-null   float64
dtypes: float64(1), object(9)
memory usage: 210.1+ KB

In [4]:
#convert the prices to numeric
Final_df["price"] = Final_df["price"].str.replace("INR","")
Final_df["price"] = Final_df["price"].astype(float)
Final_df["price"].fillna(0)

0       627.0
1       729.0
2       627.0
3       620.0
4       729.0
        ...
2682    229.0
2683    807.0
2684    765.0
2685    807.0
2686    750.0
Name: price, Length: 2687, dtype: float64

In [5]:
print(Final_df.columns)

Index(['Route_name', 'Route_link', 'Bus_name', 'Bus_type', 'Start_time',
       'End_time', 'Total_duration', 'price', 'Seats_Available', 'Ratings'],
      dtype='object')

In [15]:
# Add 'Ratings' column with default NaN values if it doesn't exist
#if 'Ratings' not in Final_df.columns:
# Final_df['Ratings'] = pd.NA

In [16]:
'''Clean the 'Ratings' column
Final_df["Ratings"] = Final_df["Ratings"].fillna("0")  # Fill NaN with a default value
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]'''

'Clean the \'Ratings\' column\nFinal_df["Ratings"] = Final_df["Ratings"].fillna("0")  # Fill NaN with a default value\nFinal_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)\nFinal_df["Ratings"] = Final_df["Ratings"].str.strip()\nFinal_df["Ratings"] = Final_df["Ratings"].str.split().str[0]'

In [17]:
'''fill 0 in the nan
Final_df["Ratings"] =Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"] =Final_df["Ratings"].str.strip()
Final_df["Ratings"] =Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"]= pd.to_numeric(Final_df["Ratings"],errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)'''

'fill 0 in the nan\nFinal_df["Ratings"] =Final_df["Ratings"].str.replace("New","")\nFinal_df["Ratings"] =Final_df["Ratings"].str.strip()\nFinal_df["Ratings"] =Final_df["Ratings"].str.split().str[0]\nFinal_df["Ratings"]= pd.to_numeric(Final_df["Ratings"],errors=\'coerce\')\nFinal_df["Ratings"].fillna(0,inplace=True)'

In [6]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2687 entries, 0 to 2686
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       2687 non-null   object
 1   Route_link       2687 non-null   object
 2   Bus_name         2687 non-null   object
 3   Bus_type         2687 non-null   object
 4   Start_time       2687 non-null   object
 5   End_time         2687 non-null   object
 6   Total_duration   2687 non-null   object
 7   price            2687 non-null   float64
 8   Seats_Available  2687 non-null   object
 9   Ratings          2644 non-null   float64
dtypes: float64(2), object(8)
memory usage: 210.1+ KB

In [7]:
# replacing the nan value
Final_df = Final_df.replace({np.nan:None})

In [8]:
path = r"C:/Users/harsh/OneDrive/Desktop/red_bus mini model/Final_df.csv"
Final_df.to_csv(path, index=False)

Create a Mysql database

In [9]:
import pymysql

# Establish connection to MySQL
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='123456',
    db='RED_BUS_DETAILS'
)

# Create a cursor object
my_cursor = conn.cursor()

# Drop the table if it exists
my_cursor.execute('DROP TABLE IF EXISTS bus_details')

# Recreate the table with the correct columns
my_cursor.execute('''  
    CREATE TABLE IF NOT EXISTS bus_details(
        ID INT AUTO_INCREMENT PRIMARY KEY,
        Route_name TEXT NOT NULL,
        Route_link TEXT NOT NULL,
        Bus_name TEXT NOT NULL,
        Bus_type TEXT NOT NULL,
        Start_time TIME  NULL,
        End_time TIME NULL,
        Total_duration VARCHAR(255) NOT NULL,
        price DECIMAL NULL,
        Seats_Available INT NULL,
        Ratings FLOAT NULL
    )
''')

print("Table recreated successfully")

conn.commit()  # Ensure the transaction is committed
my_cursor.close()
conn.close()

Table recreated successfully

In [10]:
# to convert the seat Available to int format
import re
def clean_and_convert_seats(value):
    try:
        # Extract numeric part (removing non-numeric characters)
        numeric_value = re.sub(r'[^\d]', '', value)
        # Convert to integer if possible
        return int(numeric_value) if numeric_value else None
    except ValueError:
        return None

# Apply the function to the Seats_Available column
Final_df['Seats_Available'] = Final_df['Seats_Available'].apply(clean_and_convert_seats)

# Drop rows where 'Seats_Available' is NaN (if any)
Final_df = Final_df.dropna(subset=['Seats_Available'])

# Ensure the column is in integer format
Final_df['Seats_Available'] = Final_df['Seats_Available'].astype(int)

In [11]:
print(Final_df['Seats_Available'].head(10))  # Print the first few entries to inspect the data

0     9
1     6
2    30
3    21
4     9
5    13
6    15
7     7
8    27
9    15
Name: Seats_Available, dtype: int32

In [12]:
import pymysql
import pandas as pd

# Assuming Final_df is already defined and contains your data

# Connect to the database
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='123456',
    database='RED_BUS_DETAILS'
)

# Create a cursor object
my_cursor = conn.cursor()

# SQL Insert Query
insert_query = '''INSERT INTO bus_details(
                    Route_name,
                    Route_link,
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    price,
                    Seats_Available,
                    Ratings)
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

# Ensure the DataFrame is not empty
if not Final_df.empty:
    # Convert DataFrame to list of tuples
    data = Final_df.values.tolist()
    
    # Print first few rows of data to verify
    print("Sample data to insert:", data[:5])
    
    try:
        # Execute the insert query for multiple rows at once
        my_cursor.executemany(insert_query, data)
        
        # Commit the transaction
        conn.commit()
        
        print("Values inserted successfully")
    
    except pymysql.MySQLError as e:
        print(f"Error inserting data into the database: {e}")

    finally:
        # Close the cursor and connection
        if my_cursor:
            my_cursor.close()
        if conn:
            conn.close()
else:
    print("Final_df is empty, no data to insert.")

Sample data to insert: [['Bangalore to Kozhikode', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'KSRTC (Kerala) - 52', 'SWIFT-GARUDA A/C SEATER BUS', '12:01', '19:55', '07h 54m', 627.0, 9, 3.5], ['Bangalore to Kozhikode', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'KSRTC (Kerala) - 1378', 'AC MULTI AXLE', '13:46', '21:25', '07h 39m', 729.0, 6, 2.0], ['Bangalore to Kozhikode', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'KSRTC (Kerala) - 129', 'SWIFT-GARUDA A/C SEATER BUS', '14:15', '22:50', '08h 35m', 627.0, 30, 4.2], ['Bangalore to Kozhikode', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'KSRTC (Kerala) - 235', 'Swift Deluxe Non AC Air Bus (2+2)', '15:00', '00:01', '09h 01m', 620.0, 21, 3.9], ['Bangalore to Kozhikode', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'KSRTC (Kerala) - 370', 'AC MULTI AXLE', '15:25', '22:20', '06h 55m', 729.0, 9, 3.0]]
Values inserted successfully

In [19]:
print(Final_df["Ratings"].head())

0    3.5
1    2.0
2    4.2
3    3.9
4    3.0
Name: Ratings, dtype: object